{% extends "base.html" %}

{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Log-in</h1>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Your username and password didn't match. Please try again.
                    </div>
                {% else %}
                    <p class="text-center">Please, use the following form to log in.
                                           If you don't have an account
                        <a href="{% url 'register' %}">register here</a>.
                    </p>
                {% endif %}
                <div class="login-form">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}" class="font-weight-bold">Username:</label>
                            <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control {% if form.errors.username %}is-invalid{% endif %}" value="{{ form.username.value }}">
                            {% if form.errors.username %}
                                <div class="invalid-feedback">{{ form.errors.username.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="font-weight-bold">Password:</label>
                            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control {% if form.errors.password %}is-invalid{% endif %}">
                            {% if form.errors.password %}
                                <div class="invalid-feedback">{{ form.errors.password.0 }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                     <p>
                         <a href="{% url 'password_reset' %}">
                                Forgotten your password?
                         </a>
                     </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
